<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<div th:fragment="ldapFields">
    <input type="hidden" name="id" th:field="${ldap.id}"/>
    <div class="row">
        <div class="col s12">
            <fieldset>
                <legend>Информация о сайтах</legend>
                <div class="col s12">
                    <a class="clickable" title="Проверить подключение" onclick="LdapController.testConnection()">
                        <i style="float: right" class="material-icons text-primary">autorenew</i></a>
                </div>
                <div class="col s6">
                    <div class="input-field">
                        <input id="name" name="name" type="text" required th:field="${ldap.name}"/>
                        <label for="name">Адрес сайта</label>
                    </div>
                    <div class="input-field">
                        <input id="address" name="address" type="text" th:field="${ldap.address}"/>
                        <label for="address">Домен</label>
                    </div>
                    <div class="input-field">
                        <input id="domain" name="domain" type="text" th:field="${ldap.domain}"/>
                        <label for="domain">Корень домена</label>
                    </div>
                    <div class="input-field">
                        <input id="users-directory" name="users-directory" type="text"
                               th:field="${ldap.usersDirectory}"/>
                        <label for="users-directory">Движок</label>
                </div>
                    <div class="input-field" th:hidden="${action == 'my/'}">
                        <select id="role" name="role">
                            <option th:value="${null}">Не выбрано</option>
                        </select>
                        <label for="role">Главный разработчик</label>
                    </div>
                </div>
            </fieldset>
    </div>

        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-light btn-flat btn-cancel"th:href="@{/admin/ls}">Отмена</a>
        </div>
    </div>

    <div class="buttons-area">
        <button onclick="LdapController.deactivate()"
                th:if="${ldap.active == true}"
                type="button" class="waves-effect waves-light btn red">Отключить
        </button>
        <button onclick="LdapController.activate()"
                th:if="${ldap.active != true}"
                type="button" class="waves-effect waves-light btn green">Активировать
        </button>
        <button type="submit" class="waves-effect waves-light btn">Принять</button>
        <button onclick="LdapController.activate()"
                th:if="${ldap.active != false}"
                type="button" class="waves-effect waves-light btn red">Удалить запись
        </button>
    </div>
    <div th:replace="fragments/error :: errorModalFragment"></div>
</div>
</html>